Options +FollowSymLinks -MultiViews
RewriteEngine On
RewriteRule index\.php - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [NC,L]

# Options +FollowSymLinks
# RewriteEngine On
# RewriteRule ^index/(.*)$ index.php?channels=$1